html, body {
	margin: 10px;
}

h1 {
	background-color: rgb(100, 100, 130);
}

h2 {
	width:300px;
	color: #fff;
	background-color: rgb(10, 30, 130);
}

a {
	font-size: 13pt;
}

a:hover {
	back-ground-color: lightpink;
}