<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.myproject/web/thymeleaf/layout"
    layout:decorator="common/layout">

<head>
</head>

<body>
    <div class="container" layout:fragment="content">
        <div id="information" class="alert alert-danger">
            404 Not Found<br>
            ページが見つかりません。
        </div>
    </div>

</body>
</html>